body {
    margin: 60px auto;
    width: 1000px;
    background-color: rgb(48, 48, 48);
    color: rgb(170, 170, 170);
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

@media screen and (max-width: 1250px) {

    body {
       width: 80%
    }
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
    color: rgb(210, 210, 210);
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.3em;
    text-decoration: underline;
    text-decoration-color: rgb(100, 100, 100);
}
h3 {
    font-size: 1.1em;
}
p {
    font-size: 1.0em;
    line-height: 1.2em;
}
footer {
    border-top: 1px solid rgb(170, 170, 170);
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
