<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
      <h1>comfysoft</h1>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/w">Windows</a></li>
	        		<li><a href="/l">GNU+Linux</a></li>
	        		<li><a href="/a">Android</a></li>
	    		</ul>
			</nav>
			<div class="container">

      {{ page.content | markdownify }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/mightynerd/comfysoft">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
