<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
      <h1>comfysoft</h1>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/w">Windows</a></li>
	        		<li><a href="/l">GNU+Linux</a></li>
	        		<li><a href="/a">Android</a></li>
	    		</ul>
			</nav>
			<div class="container">

			<p>
        This software is comfy as fuck.
      </p>

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">comfy</a></li>
	        		<li><a href="https://github.com/hankquinlan">soft</a></li>
				</ul>
			</footer>
		</body>
	</html>
